.newsletter {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.newsletterHeader {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 1em;
  opacity: 50%;
}

.newsletterIntro {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 60px;
}

.newsletterSubscriptionForm {
  display: flex;
  row-gap: 10px;
  column-gap: 10px;
}

.newsletterSubscriptionForm #email-field {
  width: 660px;
  height: 35px;
}

.newsletterSubscriptionForm button {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 15px;
  border: none;
  border-radius: 3px;
  background-color: #377DFF;
  color: white;
  padding: 10px 20px;
}

.newsletterSubscriptionForm button:hover {
  background-color: #376cff;
}
