.clickablePost {
  display: grid;
  width: 100%;
  height: 100%;
}

.clickablePost:hover {
  cursor: pointer;
}

.clickablePost img {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  border-radius: 5px;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postInfo {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  gap: 10px;
  align-self: end;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding: 40px;
}

.postTopic {
  padding: 10px 20px;
  height: 20px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  border-radius: 100px;
  transition: box-shadow 200ms;
}

.postTopic:hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}

.postTitle {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 32px;
  color: white;
}

.postAuthor {
  font-family: 'Inter';
  font-weight: 300;
  font-size: 14px;
  color: white;
}
