.featuredBackground {
  position: absolute;
  top: 84px;
  right: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
}

.featuredDotsPattern {
  position: absolute;
  top: 235px;
  right: 95px;
  z-index: -1;
}

.featuredLeftCircle {
  position: absolute;
  top: 230px;
  left: 0px;
  z-index: -1;
}