.featuredBackground {
  position: absolute;
  top: 84px;
  right: 0px;
  left: 0px;
  z-index: -1;
  width: 100%;
}

.featuredDotsPattern {
  position: absolute;
  top: 240px;
  right: 95px;
  z-index: -1;
}

.featuredLeftCircle {
  position: absolute;
  top: 230px;
  left: 0px;
  z-index: -1;
}

@media (max-width: 950px) {
  .featuredDotsPattern {
    right: 5px;
  }
  
  @media (max-width: 615px) {
    .featuredDotsPattern {
      top: 247px;
    }
  }

  @media (max-width: 360px) {
    .featuredDotsPattern {
      top: 240px;
    }
  }

  .featuredLeftCircle {
    display: none;
  }
}